
<h1>Welcome To Tweeter</h1>
 
<table>
  <tr>
    <th>Name</th>
    <br>
    <th>Description</th>
    <th>Location</th>
  </tr>
 
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.name %></td>
      <td><%= tweet.description %></td>
      <td><%= tweet.location %></td>
      <td><%= link_to 'show', tweet_path(tweet) %></td>
      <td><%= link_to 'edit', edit_tweet_path(tweet) %></td>
      <td><%= link_to 'destroy', tweet_path(tweet) , method: :delete, data: { confirm: 'Are you sure man?'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Tweet', new_tweet_path %>
